.contain {
  width: 300px;
  padding: 20px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  color: gray;
  margin-top: 10vh;
}

.img {
  width: 150px;
  height: 150px;
}

.nameContain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nameProd {
  text-align: start;
  color: rgb(99, 99, 99);
}

.nameEspe {
  text-align: start;
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.nameMoney {
  text-align: start;
}

.parraf {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.botonContain {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.boton {
  width: 90px;
  height: 30px;
  background-color: white;
  border: 1px solid;
  border-color: gray;
  border-radius: 2px;
  color: gray;
}

.boton:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
