.contain {
  width: 600px;
  display: flex;
  border: 1px solid gray;
  border-radius: 20px;
  margin: auto;
}

.imgAl {
  width: 200px;
  border-radius: 20px 0px 0px 20px;
}

.div {
  padding: 50px;
}
